.exp-pres {
  border: solid 2px #000000;
  height: calc(100% - 35px);
  padding: 25px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.exp-pres-card {
  position: relative;
  width: 100%;
}
.exp-card {
  z-index: 2;
}

.exp-card-contain {
  z-index: 3;
  position: relative;
  padding: 25px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.exp-card-pres {
  display: flex;
  gap: 15px;
}

.exp-card-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.exp-card-icon {
  height: 50px;
  object-fit: contain;
}

.exp-card-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 7px;
}

.exp-card-data {
  display: flex;
  /* gap: 5px; */

  justify-content: space-between;
}
