.exp-pres {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.exp-card {
  z-index: 2;
}

.exp-card-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
