.filter-list {
  position: absolute;
  top: 70px;
  left: 0%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  height: fit-content;
  z-index: 10;
  margin: 0 10px;
  &-element {
    backdrop-filter: blur(10px) saturate(0%);
    -webkit-backdrop-filter: blur(10px) saturate(0%);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    &-title {
      position: relative;
      bottom: 20px;
      backdrop-filter: blur(10px) saturate(0%);
      -webkit-backdrop-filter: blur(10px) saturate(0%);
      background-color: var(--color-mediumGrey);
      border-radius: 10px;
      width: fit-content;
      padding: 2px 4px;
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
      z-index: 10;
    }
    &-containerSkill {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      row-gap: 10px;
      justify-content: space-between;

      &-data {
        border-radius: 10px;
        padding: 5px;
        height: 45px;
        width: 45px;
        border: solid black 1px;

        &-select {
          background-color: var(--color-mediumGrey);
          border-radius: 10px;
          padding: 5px;
          height: 50px;
          width: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      &-data:hover {
        background-color: var(--color-darkGrey);
      }
    }
    &-containerEnvir {
      display: flex;
      align-items: center;
      justify-content: space-around;

      &-data {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 85px;
        height: 30px;
        border-radius: 10px;
        border: solid black 1px;

        &-select {
          background-color: var(--color-mediumGrey);
          display: flex;
          align-items: center;
          justify-content: center;
          width: 85px;
          height: 30px;
          border-radius: 10px;
        }
      }
      &-data:hover {
        background-color: var(--color-darkGrey);
      }
    }
    &-containerDateToDate {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;

      &-subContainer {
        display: flex;
        flex-direction: column;
        height: fit-content;

        &-subtitle {
          backdrop-filter: blur(10px) saturate(0%);
          -webkit-backdrop-filter: blur(10px) saturate(0%);
          border-radius: 10px;
          width: fit-content;
          padding: 2px 4px;
          position: relative;
          left: 30px;
          padding-bottom: 3px;
        }
        &-data {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          gap: 20px;
        }
      }
    }
  }

  &-button {
    backdrop-filter: blur(10px) saturate(0%);
    -webkit-backdrop-filter: blur(10px) saturate(0%);
    background-color: var(--color-mediumGrey);
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
    align-self: center;
    width: 50%;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
  }
}
