@import url("../../App.css");
/* Mobile */
.hidden {
  display: none;
}

.glass-header {
  position: absolute;
  height: var(--height-header);
  width: 100vw;
  background: rgba(255, 255, 255, 0.3);
  /* border-radius: 0 0 16px 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
  /* border: 1px solid rgba(255, 255, 255, 0.75); */
  z-index: 0;
  box-shadow: -5px 10px 30px black;
}

.nav {
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.nav-burger {
  height: 100vh;
  width: 100vw;
  padding-top: 10vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 20vh;
}

.nav-logo {
  height: 30px;
}

.contain-list-nav {
  display: flex;
  flex-direction: column;
}

.setlist-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6vh;
}

.list-nav {
  /* width: 30vw; */
  /* height: 30px; */
  margin: 5px 5px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}
.list-nav:hover {
  border-bottom: solid 2px white;
  transform: scale(1.3);
}
.list-icon {
  display: none;
}

.burger-buttton-nav-open {
  position: absolute;
  top: 5vh;
  right: 10vw;
}

/* Tablette */
@media screen and (min-width: 601px) and (max-width: 1280px) {
  .setlist-nav {
    height: 30px;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
  }
  .list-icon {
    display: inline;
  }
  .text-nav {
    display: none;
  }
  .burger-buttton-nav {
    display: none;
  }
}
/* Web */
@media screen and (min-width: 1281px) {
  /* .burger-hidden {
    display: contents;
  } */
  .setlist-nav {
    height: 30px;
    /* display: flex; */
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
  }
  .burger-buttton-nav {
    display: none;
  }
}
