.projects {
  /* border: solid 2px #000000; */
  height: calc(100% - 35px);
  padding: 25px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  // background-color: red;
  position: relative;
  &-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &-card {
    position: inherit;
    // z-index: 2;
  }
  &-card-container {
    display: flex;
    flex-wrap: wrap;
    background-color: green;
    gap: 20px;
    justify-content: space-around;

    &-element {
      background-color: rgb(128, 0, 90);
      height: 100px;
      width: 150px;
      z-index: 2;
    }
  }
}

.filter {
  background-color: var(--color-mediumGrey);
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.504);
  position: relative;
  display: inline-block;
  border-radius: 20px;
  padding: 12px 30px;
  z-index: 3;

  &-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 0;

    &-title {
      // color: green;
      align-self: center;
      text-transform: uppercase;
    }
  }
}

.sort {
  background-color: var(--color-mediumGrey);
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.504);
  position: relative;
  display: inline-block;
  border-radius: 20px;
  padding: 12px 30px;
  z-index: 3;

  &-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 0;

    &-title {
      // color: green;
      align-self: center;
      text-transform: uppercase;
    }
  }
}
/* Tablette */
@media screen and (min-width: 601px) and (max-width: 1280px) {
  .filter {
    width: 150px;
    margin-left: 30px;
    padding: 12px 30px;
  }
}
