.cardcategory {
  border: solid maroon 3px;
  height: 100px;
  width: 100px;
  border-radius: 25%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 30px black;
  backdrop-filter: blur(25px) saturate(0%);
  -webkit-backdrop-filter: blur(25px) saturate(0%);
  background-color: rgba(17, 25, 40, 0.57);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.cardcategory:hover {
  transform: scale(1.1);
  z-index: 5;
}

.cardcategory:not(:first-child) {
  margin-left: -50px;
}

.tabSelect {
  /* color: blue; */
  border-color: #ef3f3690;
  margin-top: -10px;
  /* z-index: 7; */
}

/* Tablette */
@media screen and (min-width: 601px) and (max-width: 1280px) {
  .cardcategory {
    height: 150px;
    width: 150px;
  }

  .cardcategory:not(:first-child) {
    margin-left: -20px;
  }
}
