@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  --height-header: 50px;
  --height-footer: 50px;
  box-sizing: border-box;
  font-family: "Roboto";
  height: 100vh;
  background-image: linear-gradient(
    to right bottom,
    #ffffff,
    #dfe2e8,
    #bac8d0,
    #94afb3,
    #749690,
    #64857a,
    #567563,
    #4a644d,
    #3f5942,
    #344e37,
    #29432c,
    #1e3922
  );
}

header {
  height: var(--height-header);
  position: sticky;
  display: flex;
  align-items: center;
  z-index: 10;
}

main {
  height: calc(100vh - (var(--height-header) + var(--height-footer)));
}
footer {
  height: var(--height-footer);

  display: flex;
  align-items: center;
  justify-content: center;
}
.hidden {
  display: none;
}

/* Tablette */
@media screen and (min-width: 601px) and (max-width: 1280px) {
  body {
    --height-header: 80px;
    --height-footer: 80px;
  }
}

@media screen and (min-width: 1281px) {
  .container {
    width: 1280px;
    margin: 0 auto;
    height: 100%;
  }
}
