.aboutme-all {
  border: solid 2px #000000;
  height: calc(100% - 35px);
  padding: 25px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.aboutme-menu {
  border: solid 2px red;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.aboutme-text {
  border: solid 2px blue;
  height: 75%;
}

/* Tablette */
@media screen and (min-width: 601px) and (max-width: 1280px) {
  .aboutme-menu {
    height: 150px;
  }
}
