.aboutme-all {
  border: solid 2px #000000;
  height: calc(100% - 35px);
  padding: 25px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.aboutme-pres {
  flex: 1;
}

.aboutme-skills {
  flex: 1;
}
.aboutme-degrees {
  flex: 1;
}
.aboutme-exp {
  flex: 1;
}
