.aboutme-all {
  border: solid 2px #000000;
  height: calc(100% - 35px);
  padding: 25px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.aboutme-pres {
  flex: 1;
}

.aboutme-skills {
  flex: 1;
}
.aboutme-degrees {
  flex: 1;
}
.aboutme-exp {
  flex: 1;
}

/* Tablette */
@media screen and (min-width: 601px) and (max-width: 1280px) {
  .aboutme-all {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2);
    gap: 30px;
  }
  .aboutme-pres {
    grid-column: 1;
    grid-row: 1;
  }

  .aboutme-skills {
    grid-column: 2/4;
    grid-row: 1;
  }
  .aboutme-degrees {
    grid-column: 1/2;
    grid-row: 2;
  }
  .aboutme-exp {
    grid-column: 3/4;
    grid-row: 2;
  }
}

/* Web */
@media screen and (min-width: 1281px) {
  .aboutme-all {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
  }
  .aboutme-pres {
    grid-column: 3;
    grid-row: 1;
  }

  .aboutme-skills {
    grid-column: 3;
    grid-row: 2;
  }
  .aboutme-degrees {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .aboutme-exp {
    grid-column: 1/3;
    grid-row: 3;
  }
}
